@{
    ViewBag.Title = "Error";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="danger">Error</h2>
        <p>
            The following error occured:
            @ViewBag.ErrorMessage
    </p>
</div>
</div>

